<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Agency List DB</title>
  </head>
  <body>
    <h1>Comapnies from Germany</h1>
    <div class="mailList">choose mail which you want to send...


      
    </div>
    <button id="selectBtn">Copy Text</button>

    <table>
      <thead>
        <tr>
          <th>Nazwa Firmy</th>
          <th>Adres strony internetowej</th>
          <th>Adres Email</th>
          <th>Add</th>
          <th>Delete</th>
          <th>Uncheck</th>
        </tr>
      </thead>
      <tbody>
        <% firmy.forEach(function(company){ %>
          <form action="/delete" method="POST">
        <tr>
          <td><%- company.name %>
          </td>
          <td>
            <%- `<a href="${company.www}" target="blank">${company.www}</a>` %>
          </td>
          <td class="companyEmail"><%- company.email %></td>
          <td class="buttonCell"><button id="checkBtn">Check</button></td>
          <td class="buttonCell"><button id="unCheckBtn">Uncheck</button></td>
            <input type="hidden" name="id" value="<%= company.id %>">
            <td class="buttonCell"><button type="submit" id="deleteBtn">Delete</button></td>    
          </tr>
        </form>
          <%}); %>
      </tbody>
    </table>

    <div id="copiedInfo">Text was copied to clipboard...</div>

    <script type="text/javascript" src="/js/frontend.js"></script>
  </body>
</html>
