<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Lista firm Niemcy</h1>
    <table>
      <thead>
        <tr>
          <th>Nazwa Firmy</th>
          <th>Adres strony internetowej</th>
          <th>Adres Email</th>
          <th>Send</th>
        </tr>
      </thead>
      <tbody>
        <% firmy.forEach(function(company){ %>
        <tr>
          <td><%- company.nameCompany %></td>
          <td>
            <%- `<a href="${company.www}" target="blank">${company.www}</a>` %>
          </td>
          <td><%- company.email %></td>
          <td><input type="checkbox" checked="false" /></td>
        </tr>
        <%}); %>
      </tbody>
    </table>
  </body>
</html>
