body {
  background: linear-gradient(#8044f8, #29f1f1c5);
  color: rgb(26, 25, 25);
  font-size: 1.4rem;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-content: center;
  align-items: center;
  color: rgb(42, 0, 55);
}

body a {
  color: rgb(0, 255, 157);
}

.greens {
  background: greenyellow;
}
.red {
  background: red;
}

h1 {
  text-decoration: underline;
}

table,
th,
td {
  border: 1px solid rgb(49, 49, 49);
  padding: 7px;
}

table {
  width: 70%;
}

td {
  /* background: rgb(220, 220, 220); */
}

th {
  background: #3802a4;
  color: white;
}
tbody {
  background: rgba(255, 253, 253, 0.3);
}
input:checked {
  outline: 2px solid deeppink;
}

button {
  padding: 10px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 1.2rem;
  color: rgb(45, 45, 45);
  border: 2px solid yellow;
}

button:hover {
  cursor: pointer;
}

#checkBtn {
  background: rgb(31, 248, 31);
  background: rgb(3, 194, 3);
}

#checkBtn:hover {
  background: rgb(95, 255, 95);
}

#deleteBtn {
  background: rgb(246, 4, 4);
}

#deleteBtn:hover {
  background: rgb(255, 53, 53);
}

#unCheckBtn:hover {
  background: white;
}
.buttonCell {
  text-align: center;
  padding: 10px;
}

.mailList {
  color: white;
  border: 3px solid rgb(255, 247, 0);
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  max-width: 60%;
  word-wrap: break-word;
}

.green {
  background-color: rgba(0, 252, 8, 0.4);
  color: white;
  transform: 0.2s;
}

#selectBtn {
  background: linear-gradient(greenyellow, yellow);
  margin: 20px;
}

#selectBtn:active {
  transform: translateY(5px);
}

#copiedInfo {
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px 20px 0 0;
  position: fixed;
  bottom: 0;
  color: rgb(0, 0, 0);
  right: 20px;
  opacity: 0;
}

@keyframes showHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.show {
  animation-name: showHide;
  animation-duration: 2s;
}
